.Card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    font-size: 1em;
    border: 2px solid #eee;
    border-radius: 5rem;
    box-sizing: border-box;
    margin: 5rem 0;
    padding: 2.5rem;
    width: 80vw;
    height: auto;
    background-color: #96616B;
    color: white;
    font-weight: 600;
}

.Infos {
    display: flex;
    width: 100%;
    padding-right: 5%;
}

.Card .buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-top: 5rem;
}
.Card button {
    background: #5863F8;
    font-weight: 700;
    color: white;

    border: none;
    cursor: pointer;
}
.Card h3 {
    padding: 5% 0;
}

.Card .TextBox {
    width: 100%;
    min-height: 20%;
    max-height: 10rem;
    overflow-y: auto;
    border-bottom: 1px dashed white;
}
